# Ignore node_modules in both frontend and backend
**/node_modules/

# Ignore .env files in both
**/.env

# Ignore build folders
**/.next/
**/dist/

# OS files
.DS_Store
Thumbs.db



# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore environment variables
.env